.request {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #aaa;

  padding: 10px;

  height: 80px;

}
.request.expanded {
  height: 200px;
}

.request span {
  padding: 10px;
}

.get {
  background-color: #0a0
}

.post {
  background-color: #00a
}

.put {
  background-color: #a0a
}

.delete {
  background-color: #a00
}
